<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HowestMarkRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HowestMarkRunner.Properties.Settings>
            <setting name="Executables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Godot\HowestMarkGodot.exe</string>
                        <string>Unity\HowestMarkUnity.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Tests" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BallMark</string>
                        <string>BallMark3D</string>
                        <string>Stress2D</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HowestMarkRunner.Properties.Settings>
    </applicationSettings>
</configuration>